[submodule "osvvm"]
	path = osvvm
	url = ../OSVVM.git
[submodule "Common"]
	path = Common
	url = ../OSVVM-Common.git
[submodule "Scripts"]
	path = Scripts
	url = ../OSVVM-Scripts.git
[submodule "AXI4"]
	path = AXI4
	url = ../OSVVM-AXI4.git
[submodule "UART"]
	path = UART
	url = ../OSVVM-UART.git
[submodule "Documentation"]
	path = Documentation
	url = ../OSVVM-Documentation.git
[submodule "DpRam"]
	path = DpRam
	url = ../OSVVM-DPRAM.git
[submodule "Ethernet"]
	path = Ethernet
	url = ../OSVVM-Ethernet.git
[submodule "CoSim"]
	path = CoSim
	url = ../OSVVM-CoSim.git
[submodule "VideoBus_LouisAdriaens"]
	path = VideoBus_LouisAdriaens
	url = ../OSVVM-VideoBus.git
[submodule "SPI_GuyEschemann"]
	path = SPI_GuyEschemann
	url = ../OSVVM-SPI.git
	branch = main
[submodule "Wishbone"]
	path = Wishbone
	url = ../OSVVM-Wishbone.git
[submodule ".github/CoSimPCIe"]
	path = CoSimPCIe
	url = ../OSVVM-CoSimPCIe.git
	branch = main
[submodule "AvalonST"]
	path = AvalonST
	url = ../OSVVM-AvalonST.git
[submodule "SpaceWireMonitor"]
	path = SpaceWireMonitor
	url = ../SpaceWireMonitor.git
